[access]
	inheritFrom = All-Projects
[project]
	description = Creates the AAF plugin for Kafka and creates the Kafka image with the AAF plugin -  ARCHIVED
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-dmaap-kafka11aaf-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
